<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>

        <!--========================================
            Fuentes - Tipo de letra - Iconografia 
        ==========================================-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">


        <!--========================================
           Mis estilos
        ==========================================-->
        <link rel="stylesheet" href="css/estilo.css">


    </head>
    <body>

        <!--========================================
           contenido
        ==========================================-->

        <div class="contenedor-login">

            <!--========================================
                Slider
            ==========================================-->
            <div class="contenedor-slider">

                <div class="slider">

                    <!-- Slide 1 -->

                    <div class="slide fade ">
                        <img src="img/mangueras-persona.jpg" alt="">

                        <div class="contenido-slider">

                        </div>

                    </div>

                    <div class="slide fade ">
                        <img src="img/mangueras-hidraulicas-renoflex.jpg" alt="">

                        <div class="contenido-slider">
                        </div>

                    </div>

                    <!-- Slide 2 -->
                    <div class="slide fade">
                        <img src="img/imagen1.jpg" alt="">

                        <div class="contenido-slider">

                        </div>

                    </div>




                </div>

                <!-- Botones next y prev -->
                <a href="#" class="prev"><i class="fas fa-chevron-left"></i></a>
                <a href="#" class="next"><i class="fas fa-chevron-right"></i></a>

                <!-- dots -->
                <div class="dots">

                    <!-- <span class="dot active"></span> -->

                </div>

            </div>

            <!--========================================
                Formularios
            ==========================================-->
            <div class="contenedor-texto">

                <div class="contenedor-form">

                    <h1 class="titulo">FLUYTEC</h1>
                    <p class="descripcion">Ingresa con tu cuenta mediante id y contraseña</p>

                    <!-- Tabs -->
                    <ul class="tabs-links">
                        <li class="tab-link active">Iniciar Sesión</li>
                        <li class="tab-link ">¿Recuperar contraseña?</li>
                    </ul>

                    <!--========================================
                        Formulario logue
                    ==========================================-->
                    <form action="" method="POST" id="form_id" name="myform" class="formulario active" th:action="@{/login}" th:object="${usuario}">

                        <div class="error-text">
                            <p>aqui los errores del formualrio</p>
                        </div>

                        <input type="text" id="username" placeholder="ID" class="input-text" name="username" autocomplete="off" th:field="*{id_usuarios}"> 
                        <div class="grupo-input">

                            <input type="password" id="password" placeholder="Contraseña" name="password" class="input-text clave" th:field="*{clave}">
                            <button type="button" class="icono fas fa-eye mostrarClave"></button>

                        </div>

           
                        <th><span class="cnt"> 
                                    <button class="btn btn-primary btn-large" type="submit" >Ingresar</button></span></td> 
                                </tr>
                                <br><br>
                        <li>
                            <a th:href="@{/}">Volver al inicio</a>
                        </li>
                        <br><br>
                    </form>

                    <!--========================================
                       Formulario de Registro
                   ==========================================-->
                    <!--========================================
                        Formulario de Registro
                    ==========================================-->
                    <form th:action="@{/enviaremail}" method="POST" id="formRegistro" class="formulario ">

                        <div class="error-text ">

                        </div>

                        <input type="email"  placeholder="Correo electrónico" class="input-text" name="correo" autocomplete="off"> 




                        <!-- Checkbox Personalizados -->
                        <label class="contenedor-cbx animate">
                            A este correo te llegara la nueva contraseña para que puedas iniciar sesion de nuevo con nosotros, gracias por confiar en nosotros.
                            <input type="checkbox" name="cbx_notificaciones" checked>
                            <span class="cbx-marca"></span>
                        </label>

                        <th><span class="cnt"> 
                                    <button class="btn btn-primary btn-large" type="submit">Enviar</button></span></td> 
                                </tr>

                    </form>



                </div>

            </div>

        </div>



        <!--========================================
           Mis Scripts
        ==========================================-->
        <script src="js/app.js"></script>

    </body>
</html>