<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="assets/styles.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../CSS/index-login.css">
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body id="login">
    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading">Registro de datos</h2>
            <input type="text" class="input-block-level" placeholder="Nombre">
            <input type="text" class="input-block-level" placeholder="Apellido">
            <input type="email" class="input-block-level" placeholder="Correo">
            <input type="password" class="input-block-level" placeholder="Contraseña">
            <input type="password" class="input-block-level" placeholder="Confirmar contraseña"> 
            <button class="btn btn-danger" type="submit" onclick="cancelar()"><a href="../Bootstrap-Admin-Theme-master/login.html">Enviar</a></button>
            <button class="btn " type="cancel">cancelar</button>
            <br><br>
            <a href="../Bootstrap-Admin-Theme-master/login-3.html">Ingresar</a><br>
            <a href="../Bootstrap-Admin-Theme-master/recuperar-password.html">Recuperar contraseña</a>
          </form>
    </div> 
    <script src="vendors/jquery-1.9.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="../JS/js/codigo.js"></script>
    <script src="../JS/js/sweetalert.min.js"></script>
  </body>
</html>